In [1]:
# import sqlite 
import sqlite3

In [2]:
# connect to an sqlite databases
connection = sqlite3.connect('example.db')
print(connection)

<sqlite3.Connection object at 0x000002606C33BD30>

In [3]:
# creating cursor to iterate table and rows
cursor = connection.cursor()
cursor

In [4]:
# create a table
cursor.execute ('''
create table if not exists employees (
    id int primary key,
    name varchar not null,      
    age int, 
    department varchar 
    )
''')

# i also put text instead of varchar

# commit the changes
connection.commit()

In [5]:
# select commmand
cursor.execute('''
    select * from employees
''')

In [6]:
# Inserting the data into table
cursor.execute('''
    Insert into employees(name, age, department) values
               ('Rizwan', 21, 'Data - Scientist'), 
               ('kashvi', 20, 'ML Enginner'), 
               ('Vishal', 22, 'Full stack Developer') 
''')

connection.commit()

In [7]:
## Query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the query data
for row in rows:
    print(row)

(None, 'Rizwan', 21, 'Data - Scientist')
(None, 'kashvi', 20, 'ML Enginner')
(None, 'Vishal', 22, 'Full stack Developer')

In [8]:
# Update the data in the table
cursor.execute('''
update employees
    set age = 23 where name = "Vishal"
''')

connection.commit()

In [9]:
# delete record from table
cursor.execute('''
delete from employees
    where name = 'Vishal'
''')

connection.commit()

In [10]:
connection.close()

In [11]:
# sales data
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

cursor.execute('''
create table if not exists sales(
    id int not null primary key, 
    date text not null, 
    product text not null, 
    sales int, 
    region text
    )
''')

sales_data = [
    (1, '2025-01-01', 'Product1', 100, 'North'), 
    (2, '2025-01-02', 'Product2', 200, 'East'), 
    (3, '2025-01-03', 'Product3', 300, 'West'), 
    (4, '2025-01-04', 'Product4', 400, 'South'), 
    (5, '2025-01-05', 'Product5', 500, 'North'), 
]

cursor.executemany('''
insert into sales(id, date, product, sales, region) values
               (?, ?, ?, ?, ?)
''', sales_data)

connection.commit()

In [12]:
cursor.execute('select * from sales')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2025-01-01', 'Product1', 100, 'North')
(2, '2025-01-02', 'Product2', 200, 'East')
(3, '2025-01-03', 'Product3', 300, 'West')
(4, '2025-01-04', 'Product4', 400, 'South')
(5, '2025-01-05', 'Product5', 500, 'North')

In [13]:
# closing the db Connection
connection.close()